body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background: #740059;
}

img {
  display: block;
  max-width: 100%;
}
header {
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  background-color:rgb(228, 66, 166);
  position: sticky;
  top: 0;
  text-align: center;
  font-family:'Press Start 2P', cursive;
  font-size: 6px;
}
.chatbox-container {
 background-image: url(../img/chatbox_background.jpg);
 background-size: contain;
 background-repeat:repeat ;
 background-attachment: fixed;
 border: 4px dotted rgb(255, 255, 255);
 background-position: center;
 background-color: #fbcff162;
 display: flex;
 max-width: 300px;
 margin: auto;
 flex-direction: column;
 align-items: right;
}

.message-content {
  border-radius: 10px 15px 15px 0;
  border-style:double;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  padding: 6px 10px;
}

.message-box-nelly .message-content {
  background: rgb(99, 148, 255);
  margin: 0 0 5px 0;
}

.message-box-chantay {
  align-self: flex-end;
}

.message-box-chantay .message-content {
  margin: 0 0 5px 0;
  background: rgb(255, 133, 180);
  border-radius: 15px 15px 0 15px;
}

.message-box-a .message-content {
  margin: 0 0 5px 0;
  background: rgb(135, 92, 216);
  margin: 0 0 5px 0;
  color: azure;
}

footer {
  background: rgb(228, 66, 166);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
